* {
	margin: 0;
	padding: 0;
}

a {
	color: #576454;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 14pt;
	line-height: 2em;
	/* font-family: Arvo, serif; */
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	/* background: #f1f0f0; */
	color: #393835;
	text-shadow: 0 1px 0 #ffffff;
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	/*text-transform: lowercase;*/
	font-weight: normal;
}

h2,h3,h4 {
	margin-bottom: 1.25em;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	color: #000000;
}

img.left {
	float: left;
	margin: 8px 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

/* p {
	margin-bottom: 0.7em;
} */

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

#bg {
	/* background: url('images/highlight.png') top left repeat-x; */
	padding: 35px 0 65px 0;
}

#banner {
	/*position: relative;*/
	/*padding: 32px;*/
	/*height: 200px;*/
	width: 1180px;
	/*margin: 0;*/
	background: #ffffff;
}



#content {
	width: 1180px;
	float: right;
	/*padding: 28px;*/
	background: #ffffff;
}

#copyright {
	margin: 34px 0 0 0;
	text-align: center;
	color: #909090;
	text-shadow: 0 1px 0 #ffffff;
	/*text-transform: lowercase;*/
}

#copyright a {
	color: #909090;
}

#footer {
	position: relative;
	padding: 28px;
	margin: 34px 0 0 0;
	width: 1124px;
	background: #576454;
	color: #bcc1bb;
	text-shadow: 0 1px 0 #273424;
}

#footer a {
	color: #ebecea;
}

#footer h2, #footer h3, #footer h4 {
	color: #ffffff;
}

#footer p {
	margin-bottom: 0;
}

#footer ul {
	list-style: none;
	margin-bottom: 0;
}

#footer ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #707b6e;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}

#footerContent {
	width: 516px;
	float: right;
}

#footerSidebar1 {
	width: 224px;
	float: left;
}

#footerSidebar2 {
	width: 224px;
	margin: 0 28px 0 304px;
}

#header {
	position: relative;
	padding: 28px;
	height: 100px;
	/* width: 1124px; */
	/* margin: 0 0 24px 0; */
}

#logo {
	text-align: center;
	position: relative;
	margin: -14px auto;
	height: 98px;
	line-height: 98px;
}

#logo a {
	text-decoration: none;
	color: #000000;
}

#logo h1 {
	font-size: 3em;
	/* font-family: Arvo, serif; */
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

#main {
	position: relative;
	padding: 0;
	margin: 0 0 0 0;
	width: 1180px;
	color: #666666;
}

#main strong {
	color: #454545;
}

#main h2, #main h3, #main h4 {
	color: #1a1a1a;
}

/* #main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #d9d9d9;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
} */

#nav {
	/*position: absolute;*/
	/*bottom: 0;*/
	left: 0;
	width: 1180px;
	height: 56px;
	line-height: 56px;
	/*margin-top: 20px;*/
	font-size: 1.25em;
	/* font-family: Arvo, serif; */
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

#nav a {
	text-decoration: none;
	/*text-transform: lowercase;*/
	color: #1b1b19;
}

#nav a:hover {
	text-decoration: underline;
}

#nav ul {
	list-style: none;
	margin: 0 auto;
	width: 1062px;
	text-align: center;
}
/* 
#nav ul li {
	display: inline;
	text-align: center;
	padding: 0.5em 1em 0.5em 1em;
}

#nav ul li a {
	padding: 0.5em 1em 0.5em 1em;
}

#nav ul  a {
	background: #576454;
	color: #ffffff;
	text-shadow: 0 1px 0 #273424;
} */

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto 0 auto;
}



.box{
	border-bottom: 1px solid #DDD;
	padding: 32px;
	overflow: hidden;
}

.contact td{
	padding: 10px;
}

.first_col{
	vertical-align: top;
	float: right;
}

#last_box{
	border-bottom: none;
}

.paper_video {
    border-radius: 0.5em; 
    overflow: hidden; 
	
}


<div class="pubwrap">
  <div class="row">
    <div class="col-md-5">
      <div class="pubimg">
        <img src="./img/neural_gaffer.png"  />
      </div>
    </div>
    <div class="col-md-7">
      <div class="pub">
        <div class="pubt"> Neural Gaffer: Relighting Any Object via Diffusion
        <div class="puba">
           Haian Jin, Yuan Li, Fujun Luan, Yuanbo Xiangli, <b>Sai Bi</b>, Kai Zhang, Zexiang Xu, Jin Sun, Noah Snavely
        </div>
        <div class="pubv">NeurIPS 2024</div>
        <div>
          <a href='https://arxiv.org/abs/2406.07520'>Paper </a> |
          <a href="https://neural-gaffer.github.io/">
            Project page</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  
